@{
  Layout = "_Layout";
}

<h1>Welcome Pierre <br> </h1>
<h3>Vendor and Order Tracker:</h3>

<div class="links">
  <a href="/vendors">View All Vendors</a>
  <br>
  <a href="/vendors/new">Add a New Vendor</a>
</div>