@using VendorAndOrderTracker.Models
@{
    Layout = "_Layout";
}

<h1>Pierre's Bakery Vender Orders: </h1>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<hr>
<div class="orderDetails">
@foreach(Order order in Model["order"])
{
    <h2>Item: @order.Title</h2>
    <p>Quantity: @order.Description</p>
    <p>Price: $@order.Price</p>
    <p>Delivery Date: @order.Date</p>
    <p>Vendor: @Model["vendor"].Name</p>
    <hr>
}
</div>
<br>
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<br>
<a href='/vendors'>View all orders</a>
